.container {
	display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: #F6F6F6;
	width: 80%;
	margin: 0 auto 100px auto
}

.guests {
	display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 180px;
}

.row {
	display: flex;
    align-items: center;
}

.songs {
	display: flex;
    flex-flow: column;
    align-items: center;
	min-height: 300px;
}

.pointer {
	cursor: pointer;
}

.submit {
	padding: 20px;
}

.delete {
	font-size: 25px;
}

.dialog {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.loading {
	height: 200px;
	width: 200px;
	margin-left: 30%;
}