.container {
	display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: #ffffffd4;
	width: 80%;
	margin: 0 auto 100px auto
}

.guests {
	display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 190px;
}

.row {
	display: flex;
	align-items: center;
	height: 160px;
}

.songs {
	display: flex;
    flex-flow: column;
    align-items: center;
	min-height: 300px;
}

.pointer {
	cursor: pointer;
}

.submit {
	padding: 20px;
}

.delete {
	font-size: 25px;
}

.dialog {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.loading {
	height: 200px;
	width: 200px;
	margin-left: 30%;
}

.double {
	justify-content: space-around;
	align-items: center;
    display: flex;
    width: 76vw;
	flex-wrap: wrap;
	height: 90px;
}

@media(min-wdith: 565px) {
	.double {
		height: 100%
	}
}
