.heroContainer {
	height: 80vh;
	width: 100vw;
	background-color: blue;
	-webkit-clip-path: polygon(100% 0, 100% 56%, 50% 79%, 1% 56%, 0 0);
	clip-path: polygon(100% 0, 100% 56%, 50% 79%, 1% 56%, 0 0);
}