.container {
	display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
  }
}
