.container {
	height: 100%;
	width: 80vw;
    display: flex;
    flex-flow: column;
	align-items: center;
	padding-bottom: 30px;
	text-align: center;
}

.row {
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.details {
	border-bottom: 1px dashed;
    width: 100%;
	text-align: center;
	padding-bottom: 5px;
}

.header {
	width: 30%;
}

.info {
	width: 70%;
}

@media(min-width: 1024px) {
	.container {
		width: 40vw;
	}
}

@media(max-width: 603px) {
	.row {
		flex-direction: column;
		align-items: center;
	}

	.header {
	width: fit-content;
	}

	.info {
		width: fit-content;
	}
}